[Desktop Entry]
Name=ROS2 Dashboard
Comment=SteamDeck UI for ROS2 robotics platform
Exec={{ steamdeck_ui_app_dir }}/start.sh
Type=Application
Terminal=false
Categories=Utility;Science;
StartupWMClass=ros2-dashboard
