# {{ ansible_managed }}
apiVersion: 1

datasources:
  - name: Prometheus (robot)
    uid: prometheus-robot
    type: prometheus
    access: proxy
    url: http://127.0.0.1:{{ monitoring_prometheus_port }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: {{ monitoring_interval }}
