---
# Provision Client Raspberry Pi (Ubuntu 24.04): bootstrap, network, hostname, Docker
# Run: ansible-playbook -i inventory playbooks/client.yml -l client
# Set in group_vars/client.yml or host_vars: network_address, network_gateway, hostname (and optional network_nameservers).
- name: Provision Client
  hosts: client
  become: true
  roles:
    - common
    - role: network
      when: network_address is defined and network_address | length > 0
    - role: hostname
      when: hostname is defined and hostname | length > 0
    - docker
