---
# Full site: provision all hosts (Server + Client), then deploy ROS2 nodes on each.
# Run from ansible/: ansible-playbook -i inventory site.yml
# Set network_address, network_gateway, hostname in group_vars (server.yml / client.yml) or host_vars.

- name: Provision all
  hosts: all
  become: true
  roles:
    - common
    - role: network
      when: network_address is defined and network_address | length > 0
    - role: hostname
      when: hostname is defined and hostname | length > 0
    - docker

- name: Deploy Server ROS2 nodes
  ansible.builtin.import_playbook: playbooks/deploy_nodes_server.yml

- name: Deploy Client ROS2 nodes
  ansible.builtin.import_playbook: playbooks/deploy_nodes_client.yml
